﻿<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">        
    <title>Bee on the Road</title>
    <meta name="description" content="Sense gelevanog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ///  google font - Open Sans  /// -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- ///  font awesome - iconic font  /// -->
      <link href="~/Content/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- ///  eleagant font - iconic font  /// -->
      <link href="~/Content/assets/fonts/elegant-font/style.css" rel="stylesheet">
    <!-- ///  bootsrap css - framework  /// -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- ///  all plugins  /// -->
      <link href="~/Content/assets/css/plugins/plugins.css" rel="stylesheet">
    <!-- ///  main css  /// -->
      <link href="~/Content/assets/css/main-orange.css" rel="stylesheet"> 
    <!-- ///  responsive css  /// -->
      <link href="~/Content/assets/css/responsive.css" rel="stylesheet">

      @*@Styles.Render("~/Content/css")
      @Scripts.Render("~/bundles/modernizr")*@
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="preloader">
        <img src="~/Content/assets/img/Preloader_8.gif" alt="">
    </div> 
    <header class="main-header">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img height="70px" alt="Bee on the Road logo" src="~/Content/assets/img/bee_logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">          
              <ul class="nav navbar-nav navbar-right" id="nav">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#work">Work</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#latest-from-blog">Blog Section</a></li>
                    <li><a href="blog-home.html" class="external">Blog Home</a></li>
                    <li><a href="blog-single.html" class="external">Blog Single</a></li>                  
                  </ul>
                </li>
                <li><a href="#contacts">Contacts</a></li>
                <li class="dropdown">
                  <a href="" class="dropdown-toggle another" data-toggle="dropdown">More <b class="caret"></b></a>
                  <ul class="dropdown-menu">                  
                    <li><a href="app-page.html" class="external">App Landing Page</a></li>
                    <li><a href="coming-soon.html" class="external">Coming Soon Page</a></li>
                  </ul>
                </li>              
              </ul>
            </div><!-- /.navbar-collapse -->        
          </nav>
        </div>        
      </div>      
    </header>

    <!-- ///  start promo  /// -->
    <section class="promo static" style="background-image: url(../../Content/assets/img/bee_bg.jpg)" id="home">
      <div class="promo-block wow bounceIn" data-wow-duration="2s">
        <h1 class="lead">a travel blog <br>that works for you</h1>
        <div class="buttons">
          <ul class="list-inline">
            <li><a href="" class="btn btn-primary btn-lg">Check out the blog!</a></li>            
            <li><a href="" class="btn btn-white btn-lg">Ask us anything!</a></li>                     
          </ul>
        </div>
      </div>
    </section>

    <!-- ///  services  /// -->
    <section class="services section" id="services">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Services</h1>
          <div class="separator"></div>
        </div>
        <div class="row">
          <div class="col-sm-3 wow slideInRight" data-wow-duration="1s">
            <div class="icon-wrapper">
              <i class="fa fa-rocket"></i>
            </div>
            <div class="text-section">
              <h3>Web Design</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              <a href="#" class="btn btn-gray btn-sm">view more</a>
            </div>            
          </div>
          <div class="col-sm-3 wow slideInRight" data-wow-duration="1.2s">
            <div class="icon-wrapper">
              <i class="fa fa-code"></i>
            </div>
            <div class="text-section">
              <h3>Web Development</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              <a href="#" class="btn btn-gray btn-sm">view more</a>
            </div>            
          </div>
          <div class="col-sm-3 wow slideInRight" data-wow-duration="1.4s">
            <div class="icon-wrapper">
              <i class="fa fa-mobile"></i>
            </div>
            <div class="text-section">
              <h3>Mobile Apps</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              <a href="#" class="btn btn-gray btn-sm">view more</a>
            </div>            
          </div>
          <div class="col-sm-3 wow slideInRight" data-wow-duration="1.6s">
            <div class="icon-wrapper">
              <i class="fa fa-signal"></i>
            </div>
            <div class="text-section">
              <h3>Seo Optimization</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
              <a href="#" class="btn btn-gray btn-sm">view more</a>
            </div>            
          </div>          
        </div>
      </div>
    </section>

    <!-- ///  work  /// -->
    <section class="work section fill" id="work">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Recent Work</h1>
          <div class="separator"></div>
        </div>
        <div class="filter-buttons" id="portfolioFilter">
          <ul class="list-inline">
            <li><a href="" data-filter="*">ALL</a></li>
            <li><a href="" data-filter=".p-video">VIDEO</a></li>
            <li><a href="" data-filter=".p-photo">PHOTO</a></li>
          </ul>
        </div>
        <div class="portfolio-list clearfix" id="portfolioList">
          <div class="p-item p-photo">
            <div class="work-item">
                <a href="~/Content/assets/img/portfolio/p1.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                    <div class="overlay">
                        <i class="fa fa-search-plus"></i>
                    </div>
                    <img src="~/Content/assets/img/portfolio/p1.jpg" alt="//" class="img-responsive">
                </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>
          <div class="p-item p-video">
            <div class="work-item">
                <a href="~/Content/assets/img/portfolio/p2.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                    <div class="overlay">
                        <i class="fa fa-search-plus"></i>
                    </div>
                    <img src="~/Content/assets/img/portfolio/p2.jpg" alt="//" class="img-responsive">
                </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>
          <div class="p-item p-photo">
            <div class="work-item">
              <a href="~/Content/assets/img/portfolio/p3.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                <div class="overlay">
                  <i class="fa fa-search-plus"></i>
                </div>
                <img src="~/Content/assets/img/portfolio/p3.jpg" alt="//" class="img-responsive">
              </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>
          <div class="p-item p-video">
            <div class="work-item">
              <a href="~/Content/assets/img/portfolio/p4.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                <div class="overlay">
                  <i class="fa fa-search-plus"></i>
                </div>
                <img src="~/Content/assets/img/portfolio/p4.jpg" alt="//" class="img-responsive">
              </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>
          <div class="p-item p-photo">
            <div class="work-item">
              <a href="~/Content/assets/img/portfolio/p5.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                <div class="overlay">
                  <i class="fa fa-search-plus"></i>
                </div>
                <img src="~/Content/assets/img/portfolio/p5.jpg" alt="//" class="img-responsive">
              </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>
          <div class="p-item p-video">
            <div class="work-item">
              <a href="~/Content/assets/img/portfolio/p6.jpg" data-lightbox="roadtrip" data-title="Sexy description" class="img-wrapper">
                <div class="overlay">
                  <i class="fa fa-search-plus"></i>
                </div>
                <img src="~/Content/assets/img/portfolio/p6.jpg" alt="//" class="img-responsive">
              </a>
              <div class="description">
                <p>Sexy description and <a href="#">sexy link</a></p>
              </div>
            </div>  
          </div>          
        </div>
      </div>
    </section>

    <!-- ///  team  /// -->
    <section class="team section" id="team">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Team</h1>
          <div class="separator"></div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 wow bounceIn" data-wow-duration="1.6s">
            <p class="sub-heading">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>        
        <div class="row">
          <div class="col-sm-3">
            <div class="person wow slideInRight" data-wow-duration="1s">
              <img src="~/Content/assets/img/persons/p1.jpg" alt="" class="img-rounded">
              <h4>Little Lora <span>- Manager</span></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-inline">
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-skype"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-envelope"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="person wow slideInRight" data-wow-duration="1.2s">
              <img src="~/Content/assets/img/persons/p2.jpg" alt="" class="img-rounded">
              <h4>Cute Marina <span>- JS-developer</span></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-inline">
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-skype"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-envelope"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="person wow slideInRight" data-wow-duration="1.4s">
              <img src="~/Content/assets/img/persons/p3.jpg" alt="" class="img-rounded">
              <h4>Beauty Brit<span> - CEO</span></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-inline">
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-skype"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-envelope"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="person wow slideInRight" data-wow-duration="1.6s">
              <img src="~/Content/assets/img/persons/p4.jpg" alt="" class="img-rounded">
              <h4>Awesome Sarma <span> - Sales Manager</span></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <ul class="list-inline">
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-skype"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-envelope"></i></a></li>
                <li><a href="" class="btn btn-block btn-gray"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>          
        </div>        
      </div>
    </section>    

    <!-- ///  skills  /// -->
    <section class="skills section fill" id="skills">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Skills</h1>
          <div class="separator"></div>
        </div>
        <div class="row wow flipInX" data-wow-duration="1.6s">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>HTML5/CSS3</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>95%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                <span class="sr-only">95% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>JavaScript</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>84%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84%;">
                <span class="sr-only">84% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>Mobile Dev</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>77%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;">
                <span class="sr-only">77% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>Web Design</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>92%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;">
                <span class="sr-only">92% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>Wordpress</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>82%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%;">
                <span class="sr-only">82% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <p>Backend Dev</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>70%</p>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                <span class="sr-only">70% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ///  pricing  /// -->
    <section class="pricing section" id="pricing">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Pricing</h1>
          <div class="separator"></div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="price-column wow fadeInDown" data-wow-duration="1.2s">
              <h3>BASIC</h3>
              <p class="cost">7<span>$</span></p>
              <ul class="list-unstyled features-list">
                <li>16GB Disk Space</li>
                <li>100mb Bandwith</li>
                <li>10 Email Accounts</li>
                <li>1 Domain</li>
                <li>Free Back Up</li>
              </ul>
              <a href="#" class="btn btn-primary">PURCHASE</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="price-column popular wow fadeInDown" data-wow-duration="1.4s">
              <h3>STANDART</h3>
              <p class="cost">10<span>$</span></p>
              <ul class="list-unstyled features-list">
                <li>16GB Disk Space</li>
                <li>100mb Bandwith</li>
                <li>10 Email Accounts</li>
                <li>1 Domain</li>
                <li>Free Back Up</li>
              </ul>
              <a href="#" class="btn btn-white">PURCHASE</a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="price-column wow fadeInDown" data-wow-duration="1.6s">
              <h3>EXTREME</h3>
              <p class="cost">12<span>$</span></p>
              <ul class="list-unstyled features-list">
                <li>16GB Disk Space</li>
                <li>100mb Bandwith</li>
                <li>10 Email Accounts</li>
                <li>1 Domain</li>
                <li>Free Back Up</li>
              </ul>
              <a href="#" class="btn btn-primary">PURCHASE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ///  latest from blog  /// -->
    <section class="recent-posts section fill" id="latest-from-blog">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>LATEST FROM BLOG</h1>
          <div class="separator"></div>
        </div>
        <div class="row">
          <div class="col-sm-9 wow slideInLeft" data-wow-duration="1.4s">
            <div class="row thumb-list">
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb1.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb2.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb3.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb4.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb5.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
              <div class="col-sm-4 col-xs-6">
                <a href="">
                  <div class="thumb">
                    <span class="date">15th MAY</span>
                    <img src="~/Content/assets/img/blog/thumb6.jpg" alt="" class="img-responsive img-rounded">
                  </div>                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                </a>
              </div>
            </div>
          </div>
          <aside class="col-sm-3 wow slideInRight" data-wow-duration="1.4s">
            <h4>GATEGORIES</h4>
            <hr>
            <ul class="cat-list list-unstyled">
              <li><a href="#">Web</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">SEO</a></li>
              <li><a href="#">Mobile Apps</a></li>
            </ul>
          </aside>
        </div>
      </div>
    </section>

    <!-- ///  contacts  /// -->
    <section class="contacts section" id="contacts">
      <div class="container">
        <div class="heading-section wow bounceIn" data-wow-duration="1.6s">
          <h1>Contacts</h1>
          <div class="separator"></div>
        </div>
        <div class="row wow flipInY" data-wow-duration="1.4s">
          <div class="col-sm-12">
            <div class="alert alert-success alert-dismissable" style="display:none" id="contactUsAlert">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Thank you. Your message has been sent!
            </div>
          </div>          
          <form class="col-sm-8" role="form" id="contactForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">                  
                  <input type="text" class="form-control" placeholder="NAME" data-validation="required" id="userName" name="name">
                </div>
                <div class="form-group">                  
                  <input type="email" class="form-control" data-validation="email" placeholder="EMAIL" id="userEmail" name="email">
                </div>
                <div class="form-group">                  
                  <input type="text" class="form-control" placeholder="SUBJECT" data-validation="required" id="userSubj" name="subj">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">                  
                  <textarea class="form-control" placeholder="MESSAGE" data-validation="required" name="message" id="userMessage"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-sm-4">
            <ul class="list-unstyled contacts-list">
              <li><div class="icon-wrapper"><i class="fa fa-map-marker"></i></div> West Kinzie, 20, Chicago</li>
              <li><div class="icon-wrapper"><i class="fa fa-envelope"></i></div> <a href="">example@example.com</a></li>
              <li><div class="icon-wrapper"><i class="fa fa-phone"></i></div> +0 888 9090 909</li>
            </ul>
          </div>
        </div>
      </div>      
    </section>

    <!-- ///  map  /// -->
    <section class="map" id="map" data-location="West Kinzie, 20, Chicago"></section>

    <!-- ///  footer  /// -->    
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 social">
            <ul class="list-inline">
              <li><a href="" class="btn btn-primary"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="" class="btn btn-primary"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="" class="btn btn-primary"><i class="fa fa-google-plus-square"></i></a></li>
              <li><a href="" class="btn btn-primary"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="copy">
              <p>&copy; All rights reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- ///  start scripts  /// -->
    <script src="~/Content/assets/js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>        
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>    
    <script src="~/Content/assets/js/libs/jquery-1.11.0.min.js"></script>
    <script src="~/Content/assets/js/plugins/gmap3/gmap3.min.js"></script>
    <script src="~/Content/assets/js/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/js/plugins/lightbox/lightbox.min.js"></script>
    <script src="~/Content/assets/js/plugins/scrollTo/jquery.scrollTo.js"></script>
    <script src="~/Content/assets/js/plugins/nav/jquery.nav.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins/countdown/countdown.js"></script>
    <script src="~/Content/assets/js/plugins/placeholder/jquery.placeholder.js"></script>
    <script src="~/Content/assets/js/plugins/validator/jquery.form-validator.min.js"></script>
    <script src="~/Content/assets/js/plugins/wow/wow.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
  </body>
</html>
