//
// Breadcrumbs
// --------------------------------------------------

.breadcrumb {  
  background-color: @breadcrumb-bg;  
  > li {
    display: inline-block;
    + li:before {     
      color: @breadcrumb-color;
    }
  }
  > .active {
    color: @breadcrumb-active-color;
  }
}
