// The dropdown menu (ul)
.dropdown-menu {  
  border: 1px solid @light-shadow;
  border-radius: @border-radius-base;
  .box-shadow(0 2px 0px @light-shadow);
  > li {  	
	  	> a {    
	    padding: 4px 20px;       
	    line-height: @line-height-base;
	    color: @light-text-color;
	  }
  }
  > .active {
		a {
			background-color: @brand-primary;
			color: @body-bg;
		}
	}
}
