// layout file
@import "mixins.less";
@import "variables.less";

/***** General classes *****/

.section {
	padding: 70px 0;
}
.heading-section {
	text-align: center;
	margin-bottom: 70px;
	h1 {
		margin: 0;
		text-transform: uppercase;
	}	
}
.separator {
	width: 12px;
	height: 12px;
	margin: 15px auto 0;
	border-radius: 2px;
	border: 1px solid @brand-primary;
	position: relative;
	&:after,
	&:before {
		content: "";
		position: absolute;
		height: 1px;
		width: 75px;
		background-color: @light-text-color;
		top: 5px;		
	}
	&:after {
		right: -76px;
	}
	&:before {
		left: -76px;
	}
}
.fill {
	background-color: @bg-fill;
}
.sub-heading {
	font-size: 16px;
	color: @light-text-color;
	text-align: center;
	margin-bottom: 35px;
}
.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: @body-bg;
	z-index: 2000;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -64px;
		margin-top: -64px; 
	}
}
/***** Header *****/

.main-header {
	position: fixed;
	width: 100%;	
	z-index: 1000;
	&.fixed {
		top: 30px;
	}		
	.transition(all .5s ease);
	&.sticky {		
		top: 0;
		> .container {
			.transition(all .5s ease);
			width: 100%;
		}
		.navbar {
			border-radius: 0;
		}
	}
	.dropdown-menu {
		padding: 0;
		> li {
			> a {
				padding-top: 6px;
				padding-bottom: 6px;
				font-size: 12px;
				font-weight: 700;
			}
		}
	}
}

/***** Promo *****/

.promo {
	padding: 130px 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: top center;
	&.static {				
		background-attachment: fixed;		
		display: table;				
	}	
}
.pattern-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/patterns/pat2.png);
}
.promo-block {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: @body-bg;
	padding: 0 15px;
	.lead {
		font-size: 48px;
	}
	.buttons {
		margin: 30px 0; 
	}
	hr {
		border-bottom-color: @body-bg;
		width: 33%;
		margin: 20px auto;
	}
}

/***** Services *****/

.services {
	.icon-wrapper {
		width: 127px;
		height: 127px;		
		border-radius: 50%;
		border: 1px solid @brand-primary;
		text-align: center;
		margin: 0 auto;
		i {
			font-size: 72px;
			line-height: 127px;
			color: @brand-primary;
		}
	}
	.text-section {
		text-align: center;
		h3 {
			margin: 25px 0;
		}
		p {
			color: @light-text-color;
			margin-bottom: 25px;
		}
	}
}

/***** work *****/

.work {
	.filter-buttons {
		text-align: center;
		a {
			text-decoration: none;
			padding: 6px 10px;
			border: 1px solid @light-text-color;
			border-radius: @border-radius-base;
			color: @light-text-color;
			background-color: transparent;			
			.transition(all .3s ease);
			display: block;
			&:hover {
				background-color: @brand-primary;
				color: @body-bg;
				border-color: @brand-primary;
			}
		}
	}
}
.portfolio-list {
	padding-top: 25px;
	.p-item {
		width: 33.33333%;
		padding: 0 15px;
	}
	.work-item {
		background-color: @body-bg;
		border-radius: @border-radius-base;
		overflow: hidden;
		border: 1px solid @light-blue;
		.box-shadow(0 2px 0 @light-blue);
		margin-bottom: 30px;		
	}
	.img-wrapper {
		display: block;
		position: relative;	
		overflow: hidden;			
		text-decoration: none;
		&:hover {
			.overlay {
				top: 0;
			}
		}
	}
	.overlay {
		top: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(red(@light-blue), green(@light-blue), blue(@light-blue), .4);
		text-align: center;
		display: block;
		.transition(all .3s ease);
		-webkit-transform-style: preserve-3d;
		i {
			color: @body-bg;
			position: relative;
  		top: 50%;
  		-webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);	
			font-size: 70px;			
		}
	}
	.description {
		padding: 15px;
		text-align: center;
		p {
			margin: 0;
		}
	}	
}

/***** team *****/

.team {
	.person {
		text-align: center;
		h4 {
			margin: 15px 0;
			font-weight: 600;
			span {
				font-weight: 400;
				color: @light-text-color;
			}
		}
		p {
			font-size: 12px;
			color: @light-text-color;
			margin-bottom: 15px;
		}
		img {
			.img-responsive(@display: inline-block);
		}
	}
	.arrows {
		padding-top: 50px;
		text-align: center;
		i {
			font-weight: 700;
		}
	}
}

/***** skills *****/
.skills {
	p {
		font-size: 18px;
	}
}

/***** pricing *****/

.pricing {
	.price-column {
		text-align: center;
		background-color: @body-bg;
		border-radius: @border-radius-base;
		overflow: hidden;
		border: 1px solid @light-blue;
		.box-shadow(0 2px 0 @light-blue);	
		padding-bottom: 46px;
		&.popular {
			background-color: @brand-primary;
			border: 1px solid darken(@brand-primary, 10%);
			.box-shadow(0 2px 0 darken(@brand-primary, 10%));	
			color: @body-bg;
			h3 {
				color: @body-bg;
			}
			.cost {
				background-color: lighten(@brand-primary, 12%);
				color: @body-bg;
			}
		}
		h3 {
			margin: 0;
			padding: 30px 15px;
			text-transform: uppercase;
			font-weight: 700;
			color: #dfdfdf; 
			line-height: 1;
		}	
		.cost {
			font-size: 45px;
			color: #a4a4a4;
			background-color: #fafafa;
			margin: 0;
			padding: 15px;
			line-height: 1;
			span {
				font-size: 30px;
			}
		}
		.features-list {
			padding: 25px 15px;
			line-height: 36px;
			font-size: 16px;
			margin: 0;
		}
	}
}

/***** latest from blog *****/

.recent-posts {
	.thumb-list {
		a {
			text-decoration: none;
			color: @text-color;
			display: block;
			margin-bottom: 30px;			
		}
		p {
			margin: 0;
			line-height: 1.2;
			font-size: 13px;
		}
	}
	.thumb {
		position: relative;		
		margin-bottom: 15px;
		.date {
			position: absolute;
			color: @brand-primary;			
			background-color: @body-bg;
			top: 10px;
			right: 10px;		
			display: block;
			text-align: center;
			padding: 6px 15px;			
			font-size: 13px;
			font-weight: 700;
			.transition(all .3s ease);
			border-radius: 2px;
		}
		&:hover {
			.date {
				top: -15px;
				right: -15px;	
				background-color: @brand-primary;
				color: @body-bg;				
			}
		}
	}
	hr {
		border-top-color: @text-color;		
	}
	.cat-list {
		font-weight: 700;
		margin-bottom: 30px;
		line-height: 26px;
	}
}

/***** contacts *****/
.contacts {
	textarea {
		min-height: 90px; 
	}
	.contacts-list {
		margin: 5px 0 20px;
		font-size: 18px;
		color: #b4b4b4;
		a {
			color: #b4b4b4;
		}
		.icon-wrapper {
			display: inline-block;
			min-width: 40px;
			text-align: center;
			font-size: 30px;
			color: @brand-primary;
			vertical-align: middle;
		}
	}
}
.map { 	
	background-color: @brand-primary;
	width: 100%;
	height: 400px;
}
/************************************************
*** Footer ***
************************************************/
.main-footer {
	background-color: #5d5d5d;
	color: @body-bg;
	padding: 25px;
	.social {
		ul {
			margin: 0;
		}
		a {
			line-height: 1;
			padding: 5px 10px;
			font-size: 25px;
			i {
				line-height: 1;
			}
		}
	}
	.copy {
		text-align: right;
		padding: 10px 0;
		p {
			margin: 0;			
		}
	} 
}
/************************************************
*** Blog ***
************************************************/
.blog {
	padding-bottom: 70px;
}
.header-bg {
	height: 130px;	
}
.heading {
	text-transform: uppercase;
	padding: 70px 0;
	h1 {
		margin: 0;
	}
}
.post {
	margin-bottom: 30px;
	h2 {
		font-weight: 700;
		margin-bottom: 20px;
	}
	.by {
		margin-bottom: 5px;
		span {
			color: @brand-primary;
		}
	}
	.posted {
		font-weight: 700;
		font-size: 12px;
		margin-bottom: 20px;
		span {
			color: @light-text-color;
		}
	}
	hr {
		border-top-color: @text-color;		
	}
}

/***** sidebar *****/

.sidebar {
	h4 {
		font-size: 18px;
		font-weight: 700;
	}
	.search,
	h4,
	.categories-list,
	.tags-list {
		margin-bottom: 30px;
		margin-top: 0;
	}
	.categories-list {
		li {
			line-height: 1.7;
		}
	}
	.tags-list {
		a {
			display: block;
			text-decoration: none;
			border-radius: @border-radius-base;
			border: 1px solid @brand-primary;
			color: @text-color;
			padding: 3px 6px;
			line-height: 1;
			margin-bottom: 10px;
			.transition(all .2s ease);
			&:hover {
				background-color: @brand-primary;
				color: @body-bg;
			}
		}
	}
}

/************************************************
*** App page ***
************************************************/
/***** features *****/
.features-wrapper {
	img {
		.img-responsive(@display: inline-block);
		vertical-align: middle;
	}
	.feature-details {
		.clearfix();
		margin-bottom: 30px;
	}
	.icon-wrapper {
		float: left;
		width: 30%;
		text-align: center;
		color: @brand-primary;
		padding-top: 20px;
		font-size: 50px;
	}
	.text-wrapper {
		float: left;
		width: 70%;
		.title {
			font-weight: 300;
		}
	}
}

/***** newsletter *****/

.newsletter {
	.help-block {
		color: #f00;
	}
}
/***** gallery *****/

.gallery-list {
	.item {
		border: 1px solid @light-text-color;
		border-radius: @border-radius-base;
		padding: 3px;
	}
}

/***** FAQ *****/

.faq {
	.panel-heading {
		padding: 0;
		a {
			display: block;
			color: @body-bg;
			text-decoration: none;
			padding: 10px 15px;
			border-radius: @border-radius-base;
		}
	}
}

/************************************************
*** coming soon page ***
************************************************/

.countdown {		
	.item {
		text-align: center;		
		margin-bottom: 20px;
	}
	.digit {
		font-size: 48px;		
	}
}
.contact-us {
	margin-top: 20px;
}
.c-soon {
	.help-block {
		color: #f00;
	}
}