//
// Navbars
// --------------------------------------------------
@import "mixins.less";
@import "variables.less";

.navbar-default {
  background-color: @body-bg;
  border: none;
  .box-shadow(0 2px 0 @light-shadow);
  .navbar-nav {    
    > li {      
      > a {
        font-weight: 700;
        color: @light-text-color;
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          color: @body-bg;
          background-color: @brand-primary;        
          .box-shadow(0 2px 0 darken(@btn-primary-bg, 10%));
        }
      }
    }    
  }
  .navbar-brand {
    &,
    &:hover,
    &:active {
      color: @brand-primary;
    }
  }  
  .navbar-toggle {
    border-color: @brand-primary;
    &:hover,
    &:focus {
      background-color: @bg-fill;
    }
    .icon-bar {
      background-color: @brand-primary;
    }
  }
}
.navbar {
  min-height: @navbar-height;
}
.navbar-brand {
  font-size: 29px;
  line-height: @navbar-height;
  padding: 0 30px;
  font-weight: 400;
}

.navbar-toggle {  
  margin-right: @navbar-padding-horizontal;
  padding: 9px 10px;
  .navbar-vertical-align(34px);
}

