// File: main-{color}.css
/************************************************
Description: General template styles, including bootstrap components
Version: 1.0
************************************************/
@import "general/mixins.less";
@import "general/variables.less";
/************************************************
*** General styles ***
************************************************/
// Remove Chrome's Orange Outline
* {
	outline: none !important;
}
html, body {	
	min-height: 100%;
	height: 100%;
}
body {
	font-family: @font-family-sans-serif;
	line-height: @line-height-base;
	color: @text-color;	
	overflow-x: hidden;
}
/************************************************
*** Scaffolding ***
************************************************/
@import "general/scaffolding.less";
/************************************************
*** Navbar ***
************************************************/
@import "general/navbar.less";
/************************************************
*** Navbar ***
************************************************/
@import "general/navs.less";
/************************************************
*** Buttons ***
************************************************/
@import "general/buttons.less";
/************************************************
*** Typography ***
************************************************/
@import "general/type.less";
/************************************************
*** Forms ***
************************************************/
@import "general/forms.less";
/************************************************
*** Progress ***
************************************************/
@import "general/progress-bars.less";
/************************************************
*** Panels ***
************************************************/
@import "general/panels.less";
/************************************************
*** Dropdowns ***
************************************************/
@import "general/dropdowns.less";
/************************************************
*** Alerts ***
************************************************/
@import "general/alerts.less";
/************************************************
*** Badges ***
************************************************/
@import "general/badges.less";
/************************************************
*** Badges ***
************************************************/
@import "general/breadcrumbs.less";
/************************************************
*** Labels ***
************************************************/
@import "general/labels.less";
/************************************************
*** List Group ***
************************************************/
@import "general/list-group.less";
/************************************************
*** Pager ***
************************************************/
@import "general/pager.less";
/************************************************
*** Pager ***
************************************************/
@import "general/pager.less";
/************************************************
*** Pagination ***
************************************************/
@import "general/pagination.less";
/************************************************
*** Layout ***
************************************************/
@import "general/layout.less";

