/***********************************************
File: responsive.css
Description: Description: Template styles for responsive design (for phone and tablet devices)
Version: 1.0
************************************************/
@import "general/mixins.less";
@import "general/variables.less";
/***** w > 768 *****/
@media (min-width: @screen-sm) {
	.navbar-nav {
		&.navbar-right {
			> li {
				&:last-child {				
					> a {
						.border-right-radius(@border-radius-base);
					}
				}
			}
		}
		&.navbar-left {
			> li {
				&:last-child {				
					> a {
						.border-left-radius(@border-radius-base);
					}
				}
			}
		}
		> li {
			> a {
				padding-top: @navbar-padding-vertical;
				padding-bottom: @navbar-padding-vertical;
			}
		}
	}
	.sticky {
		.navbar-nav {
			&.navbar-right {
				> li {
					&:last-child {				
						> a {
							.border-right-radius(0);
						}
					}
				}
			}
			&.navbar-left {
				> li {
					&:last-child {				
						> a {
							.border-left-radius(0);
						}
					}
				}
			}
		}
	}
}
/***** w < 768 *****/
@media (max-width: @screen-sm) {
	.services .text-section {
		margin-bottom: 20px;
	}
	.section {
		padding: 35px 0;
	}
	.heading-section {		
		margin-bottom: 35px;		
	}
	.price-column {
		margin-bottom: 20px;
	}
	.main-footer .copy,
	.main-footer .social {
		text-align: center;
	}
	.main-header.fixed {
		top: 0;
	}
	.promo-block .btn {
		margin-bottom: 20px;
	}
	.gallery-list .item {
		margin-bottom: 20px;
	}
	.portfolio-list {
		.p-item {
			width: 100%;
		}
	}
}
/***** w < 992 *****/
@media (max-width: @screen-md) {
	.nav>li>a {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 12px;
		font-weight: 400;
	}
	.promo-block .lead {
		font-size: 28px;
	}
	.contacts .contacts-list {
		font-size: 14px;
	}
}
/***** w > 768 && w < 992 *****/
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.team .person .btn {
		padding: 1px 5px;
	}    
}